<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container" style="">
  <h1 class="page-header"> Profile</h1>
  <div class="row">

    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="text-center" >
        <div *ngIf="!profilePicture">
          <img src="https://icon-library.net/images/no-profile-pic-icon/no-profile-pic-icon-27.jpg" class="avatar img-circle img-thumbnail" alt="avatar">
        </div>
        <div *ngIf="profilePicture">
          <img [src]="profilePicture" class="avatar img-circle img-thumbnail" alt="avatar">
        </div>
        <br>

        <input type="file" class="text-center center-block well well-sm" (change)="onFileChanged($event)">
        <button class="btn btn-default" (click)="uploadImage()" >Upload picture</button>
        <br>
      </div>
    </div>

    <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
      <h2>Personal info:</h2>

      <form class="form-horizontal"
            [formGroup]="myForm" (submit)="editProfile(
      this.myForm.controls['firstName'].value,
      this.myForm.controls['lastName'].value,
      this.myForm.controls['email'].value)">
        <div class="form-group" >
          <label class="col-lg-3 control-label">First name:</label>
          <div class="col-lg-8">
            <input class="form-control" formControlName="firstName" type="text" >

          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Last name:</label>
          <div class="col-lg-8">
            <input class="form-control" formControlName="lastName" type="text" >
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Email:</label>
          <div class="col-lg-8">
            <input class="form-control" formControlName="email" type="text" >
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Username:</label>
          <div class="col-md-8">
            <input class="form-control" formControlName="username" type="text" disabled style="cursor: pointer" >
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">
            <input class="btn btn-primary" value="Save Changes" type="submit">
            <span>&nbsp;</span>
            <input class="btn btn-default" value="Reset Editing" type=button (click)="cancelEditing()">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
