<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="col-10 col-md-8 col-lg-7">
        <div class="alert alert-success" *ngIf="infoMessage.length > 1">{{infoMessage}}</div>
      <div class="card">
        <h4 class="card-header">Login</h4>
        <div class="card-body">
          <form #loginForm="ngForm" (ngSubmit)="login()">

            <div class="form-group" [class.has-error]="usernameControl.invalid && (usernameControl.touched || usernameControl.dirty)">
              <label for="username">Username</label>
              <input type="text" minlength="5" class="form-control" name = "username" id="username" required
                     [(ngModel)]="this.username" #usernameControl="ngModel" />
              <br>
              <span class="alert alert-danger" *ngIf="usernameControl.invalid && usernameControl.touched">

          Username is required
        </span>
              <span class="alert alert-danger" *ngIf="usernameControl.errors?.minlength && usernameControl.invalid" >
          Username must be at least 5 characters long.
        </span>
            </div>

            <div class="form-group" [class.has-error]="passwordControl.invalid && passwordControl.touched">
              <label for="password">Password</label>
              <input type="password" minlength="5" class="form-control" name = "password" id="password"
                     required [(ngModel)]="this.password" #passwordControl="ngModel" />
              <br>
              <span class="alert alert-danger" *ngIf="passwordControl.invalid && passwordControl.touched">
          Password is required
        </span>
              <span class="alert alert-danger" *ngIf="passwordControl.errors?.minlength && passwordControl.invalid" >
          Password must be at least 5 characters long.
        </span>
            </div>

            <div class="form-group">
              <button  class="btn btn-primary" [disabled]="loginForm.invalid">
                Login
              </button>
              <p></p>Don't have an account ? &nbsp; <a routerLink="../register" class="btn btn-primary">Sign up</a>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>








